/*index*/
@font-face{
	font-family: "Gotham-Bold";
	src: url(../fonts/Gotham-all/Gotham-Bold.otf);
}
@font-face{
	font-family: "Gotham-Book";
	src: url(../fonts/Gotham-all/Gotham-Book.otf);
}
@font-face{
	font-family: "Gotham-Medium";
	src: url(../fonts/Gotham-all/Gotham-Medium.otf);
}
@font-face{
	font-family: "Gotham-Black";
	src: url(../fonts/Gotham-all/Gotham-Black.otf);
}
@font-face{
	font-family: "Gotham-Ultra";
	src: url(../fonts/Gotham-all/Gotham-Ultra.otf);
}

body{
	font-family: "Gotham-Book" !important;
    padding: 0;
    margin: 0;
    padding-top: 100px;
    background-image: url(../img/bg_v6.jpg);
    background-repeat: no-repeat;
	background-position-y: 0;
    background-size: cover;
	background-color:rgba(246,246,246,1.00);
}
@media(max-width: 1000px){
	body{
		background-position-y: 240px;
	}
	.bg-grey{
		background-color:rgba(246,246,246,1.00);
	}
}
.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.navbar{
    height: 100px;
    margin: 0px;
    background-color: #06038D;
	border-bottom: 2px solid rgba(255,255,255,0.21);
}
.navbar-brand{
	font-size: 0.6rem !important;
}
.collapse.show{
	margin-left: -16px;
	margin-right: -16px;
}
.collapsing{
	margin-left: -16px;
	margin-right: -16px;
}
.nav-item{
    background-color: #06038D;
}

@media (max-width:767px){
	.nav-item{
		padding-left: 40px;
	}
}
.nav-link{
	color: white !important;
}

.header-logo-image{
    width: 100px;

    margin-left: 15px;
}
.user-icon{
    width: 28%;
    margin-top: -3px;
}
.dropdown-menu{
    margin-left: -40px !important;
}
.only-mobile{
    display: inline-block;
}
@media(min-width:768px){
    .dropdown-menu{
        margin-left: 0 !important;
    }
}
@media(min-width:991px){
    .only-mobile{
        display: none;
    }
    .dropdown-menu{
        margin-left: -130px !important;
    }
}
.only-pc-icon{
    display: none;
}
@media(min-width:991px)
{
    .only-pc-icon{
        display: inline-block;
    }
}
.passwordreset{
    margin: auto;
    border: 2px dashed #c6007e;
    padding: 10px;
    margin: 2px auto;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}
.passwordreset p{
    margin: 0 !important;
    color: #c6007e;
    font-size: 1.3em;
}
.forgot{
    color: #4e4e4e
}
.forgot:hover{
    text-decoration: none;
    color: grey;
}
.pdf-href{
    color: inherit !important;
    text-decoration: underline !important;
}
/*progress*/
@media(max-width: 760px){
	.only-pc{
    display: none !important;
    }
}
@media(max-width:920px){
    .progress-item{
        font-size: 80% !important;
    }
    .progress-line{
        margin-top: -109px !important;
    }
}
@media(min-width:920px){
    .progress-content{
        width: 835px;
    }
    .progress-container{
        width: 88% !important;
    }
}

.progress-line{
    margin-bottom: 1.25rem;
    margin-top: -114px;
    border-bottom: 3px dashed #06038D;
    width: 100%;
    margin-right: auto;
}
.progress-container{
    width: 93%;
    margin: auto;
}
.progress-content{
    margin: auto;
}
.progress-nav-container{
    margin-bottom: -70px;
    margin-left: 15%;
    width: 995px;
}

.progress-item {
    display: inline-block;
    text-align: center;
    margin: 0 1%;
}
.progress-line .arrow{
    width: 0.625rem;
    height: 0.625rem;
    border-top: 2px solid #06038D;
    border-right: 2px solid #06038D;
    transform: rotate(45deg);
    position: relative;
    top: 6px;
    left: 100%;
}

.circle{
	height: 25px;
	width: 25px;
	border-radius: 50%;
    background-color: #06038D;
    position: relative;
    top: -7px;
    left: 42%;
}

.progress-item.active .circle{
	height: 30px;
	width: 30px;
	border-radius: 50%;
    background-color: #c6007e;
    top: 3px;
    left: 40%;
}
.active .progress-item-state p{
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
    margin-top: 20px;
    color: #06038D;
    font-family: "Gotham-Bold";
}
.active .progress-item-arrow{
    width: 10px;
    height: 10px;
    background-color: rgb(216, 216, 216);
    transform: rotate(45deg);
    position: relative;
    top: 25px;
    left: 46%;
    
}
.progress-item p{
    padding: 15px 0;
}
.progress-item-nav{
    margin-bottom: 13px;
}
.active .progress-item-nav{
    margin-bottom: -9px;
    font-family: "Gotham-Bold";
}
/*content*/
#about{
    margin: 90px 0;
}
@media(min-width:768px){
    #about{
        margin: 150px 0;
    }
}
@media(min-width:1300px){
    #about{
        margin: 200px 0 130px 0;
    }
}
.section-heading{
    text-align: left;
	margin: 30px 0 50px 0;
    color: #06038D;
    font-weight: bold;
    font-family: "Gotham-Bold";
}
@media(min-width:1024px){
    .section-heading{
        padding-left: 80px !important;
    }
    .section-heading.section-heading-white{
        padding-left: 0 !important;
    }
}
.strong{
    font-family: "Gotham-Bold";
}
.bepart{
    margin-top: 0;
}
.timeline{
    position:relative;
    padding:0;
    list-style:none;
}
.timeline:before{
    position:absolute;
    top:0;
    bottom:0;
    left:40px;
    width:2px;
    margin-left:-1.5px;
    content:'';
    background-color:#e9ecef;
	margin-bottom: 350px;
}
.timeline-body{
    text-align: justify !important;
}
.timeline>li{position:relative;min-height:50px;margin-bottom:50px}.timeline>li:after,.timeline>li:before{display:table;content:' '}
.timeline>li:after{clear:both}
.timeline>li .timeline-panel{position:relative;float:right;width:100%;padding:0 20px 0 100px;text-align:left}
.timeline>li .timeline-panel:before{right:auto;left:-15px;border-right-width:15px;border-left-width:0}
.timeline>li .timeline-panel:after{right:auto;left:-14px;border-right-width:14px;border-left-width:0}
.timeline>li .timeline-image{position:absolute;z-index:100;left:0;width:80px;height:80px;margin-left:0;text-align:center;color:#fff;border:7px solid #e9ecef;border-radius:100%;background-color:#e9ecef}
.timeline>li .timeline-image h4{font-size:10px;line-height:14px;margin-top:12px}
.timeline>li.timeline-inverted>.timeline-panel{float:right;padding:0 20px 0 100px;text-align:left}
.timeline>li.timeline-inverted>.timeline-panel:before{right:auto;left:-15px;border-right-width:15px;border-left-width:0}
.timeline>li.timeline-inverted>.timeline-panel:after{right:auto;left:-14px;border-right-width:14px;border-left-width:0}
.timeline>li:last-child{margin-bottom:0}
.timeline .timeline-heading h4{margin-top:0;margin-bottom: 20px; color:inherit}
.timeline .timeline-heading h4.subheading{text-transform:none; font-weight: bold;}
.timeline .timeline-body>p,.timeline .timeline-body>ul{margin-bottom:0}
@media (min-width:400px){
	.timeline:before{margin-bottom: 245px;}
}
@media (min-width:469px){
	.timeline:before{margin-bottom: 170px;}
}
@media (min-width:768px){
    .timeline:before{left:50%;margin-bottom: 200px;}.timeline>li{min-height:100px;margin-bottom:100px}.timeline>li .timeline-panel{float:left;width:41%;padding:0 20px 20px 30px;text-align:right}.timeline>li .timeline-image{left:50%;width:100px;height:100px;margin-left:-50px}.timeline>li .timeline-image h4{font-size:13px;line-height:18px;margin-top:16px}.timeline>li.timeline-inverted>.timeline-panel{float:right;padding:0 30px 20px 20px;text-align:left}.bepart{margin-top: 85px;}}
@media (min-width:992px){.timeline>li{min-height:150px}.timeline>li .timeline-panel{padding:0 20px 20px}.timeline>li .timeline-image{width:150px;height:150px;margin-left:-75px}.timeline>li .timeline-image h4{font-size:18px;line-height:26px;margin-top:30px}.timeline>li.timeline-inverted>.timeline-panel{padding:0 20px 20px}}
@media (min-width:1200px){.timeline>li{min-height:170px}.timeline>li .timeline-panel{padding:0 20px 20px 0px;margin-left: -85px; width:50%;}.timeline>li .timeline-image{width:163px;height:163px;margin-left:-84px}.timeline>li .timeline-image h4{margin-top:40px}.timeline>li.timeline-inverted>.timeline-panel{padding:0 0 20px 20px;margin-right: -85px;};}
.subheading{
	font-family: 'Gotham-Bold';
}
.timeline-body ul{
	color: #383838 !important;
	list-style-type: none;
	padding: 0;
}
.timeline-body ul li:before {
  content: '✓ ';
}
.countries{
    font-size: 85%;
    margin-top: 10px;
}
/*Prizes*/
.section-heading-white{
    text-align: left;
    color: white;
    font-family: "Gotham-Bold";
    font-size: 4em;
	margin-left: 115px;
}
@media(max-width: 1000px){
	.section-heading-white{
		margin-left: 0;
	}
}
#prizes{
	font-family: "Gotham-Bold";
}
.first-prize{
    background-color: #c6007e;
    color: white;
    max-width: 700px;
    width: 55%;
    min-width: 400px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-bottom: 30px;
}
.first-prize h1{
    font-size: 4em;
}
.first-prize h2{
    margin-top: -20px;
    padding-left: 5px;
    font-size: 2.07em;
}
.first-prize .row{
    width: 570px;
    padding-left: 40px;
    margin-left: auto !important;
    margin-right: 25px !important;
}
.first-prize .place{
    margin-top: 15px;
    margin-left: auto;
}
.second-prize{
    background-color: #06038d;
    color: white;
    max-width: 626px;
    width: 49%;
    min-width: 400px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-bottom: 30px;
}
.second-prize h2{
	margin-top: 18px;
    margin-bottom: 18px;
}
.second-prize .row{
    width: 486px;
    padding-left: 40px;
    margin-left: auto !important;
    margin-right: 25px !important;
}
.second-prize .place{
    margin-left: auto;
}
.third-prize{
    color: white;
    background-color: #06038d;
    max-width: 560px;
    width: 43%;
    min-width: 400px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;  
    margin-bottom: 30px;
}
.third-prize h3{
    font-size: 1.55em;
	margin-top: 10px;
	margin-bottom: 10px;
}
.third-prize .row{
    width: 420px;
    padding-left: 40px;
    margin-left: auto !important;
    margin-right: 25px !important;
}
.third-prize .place{
    margin-left: auto;
}
@media (max-width: 600px){
	.first-prize{
		border-radius: 0;
		height: 100px;
		min-width: 100%;
		margin-bottom: 0;
		border-bottom: 2px solid rgba(255,255,255,0.21);
	}
	.first-prize h1{
		font-size: 2.35em !important;
	}
	.first-prize h2{
		font-size: 1.2em !important;
		margin-top: -18px;
	}
	.first-prize .place{
		float: left;
		margin-left: auto;
		position: relative;
	}
	.first-prize .text.text-uppercase{
		float: right;
		position: relative;
		
	}
	.first-prize .row{
		width: 100%;
        margin-top: 18px;
        padding-left: 10px;
	}
	.second-prize{
		border-radius: 0;
		min-width: 100%;
		height: 60px;
		margin-bottom: 0;
		border-bottom: 2px solid rgba(255,255,255,0.21);
	}
	.second-prize h2{
		font-size: 1.2em !important;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.second-prize .row{
        width: 100% !important;
        padding-left: 10px;
	}
	.third-prize{
		border-radius: 0;
		min-width: 100% !important;
		height: 60px;
		margin-bottom: 0;
		border-bottom: 2px solid rgba(255,255,255,0.21);
	}
	.third-prize h3{
		font-size: 1em !important;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.third-prize .row{
        width: 100% !important;
        padding-left: 10px;
	}
}
@media(max-width:1024px){
    .first-prize{
        width: 65%;
    }
    .first-prize h1{
        font-size: 2.75em;
    }
    .first-prize h2{
        font-size: 1.4em;
    }
    .second-prize{
        width: 57%;
    }
    .second-prize h2{
        font-size: 1.5em;
    }
    .third-prize{
        width: 49%;
        min-width: 365px;
    }
    .third-prize .row{
        width: 400px;
    }
    .third-prize h3{
        font-size: 1.2em;
    }
}
/*footer*/
.footer{
    background-color: #06038D;
}
@media(min-width:600px){
    .footer{
        margin-top: 70px;
    }
}
.footer .container{
    width: 480px;
    height: auto;
    margin: auto;
}

.footer .container .logo{
    margin: auto;
    padding: 31px;
}
@media(max-width:415px){
	.footer .container{
    width: 320px;
    height: auto;
    margin: auto;
	padding-top: 10px;
    }

    .footer .container .logo{
        margin: auto;
        padding: 15px;
    }
}

/*banner*/
.banner {
	background-image: url(../img/banner_bg_2880_1920.jpg);
	width: 100%;
	background-size: cover;
    background-position: center center;
    height: 560px;
    margin-bottom: 330px;
}
.bText{
	display: inline-block;
	background-color: white;
	font-size: 1.2em;
	padding: 0px 13px 0px 18px;
	line-height: 1.4;
	font-family: "Gotham-Medium";
	color: #06038D;
}
.bText .bold,.bText.bold{
    font-family: "Gotham-Black";
    color: #c6007e;
}

.bText.wizz{
    font-size: 1.3em;
}
@media(min-width:330px){
    .bText.wizz{
        font-size: 1.5em;
    }
}
@media(min-width:500px){
    .bText.wizz{
        font-size: 1.6em;
    }
}
@media(min-width:1023px){
    .bText.wizz{
        font-size: 2em;
    }
}
@media(min-width:1200px){
    .bText.wizz{
        font-size: 3.1em;
    }
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.bannerTextContainer{
    padding: 10% 0px;
}
.panel{
    /*width: 400px;*/
    width: 100%;
    min-width: 300px;
    background-color: rgb(216, 216, 216);
}
.panel-heading{
    margin-bottom: 35px;
}
.panelhead{
    width: 50%;
    font-size: 1.5em;
    padding: 10px;
    background-color: #afafaf;
    border-bottom: 2px solid #383838;
}
.panelhead.left{
    border-right: 2px solid #383838;
}
.panelhead.right{
    border-left: 2px solid #383838;
}
.panelhead.active{
    background-color: rgb(216, 216, 216);
    border: 0;
}
.panelhead .active{
    color: #383838;
}
.panelhead a,.panelhead a:hover{
    color: grey;
    text-decoration: none;
}
.panelhead .active a:hover{
    color: #383838 !important;
    text-decoration: none;
}
.error{
    box-shadow: 0 0 0 .2rem red;
}
.error:focus{
    box-shadow: 0 0 0 .2rem red !important;
}
.formbutton{
    background-color: #c6007e;
    color: white;
    width: 100%;
    border-radius: 0 !important;
    margin-bottom: -16px;
    font-size: 1.3em !important;
    height: 70px;
    font-family: "Gotham-Medium";
}
#login-submit{
    margin-top: 20px;
}
.form-control{
    width: 80% !important;
    border-radius: 0;
    margin: auto;
}
.check {
    width: 76%;
    margin: auto;
    text-align: justify;
}
.col.text-center.mx-auto{
    margin-top: 260px;
    padding: 0;
}
.col.text-center.mx-auto .container{
    padding: 0;
}
.signuplabel{
    display: inline;
}
p.cancel {
    text-align: left;
    color: #c6007e;
    width: 80%;
    margin: auto;
    font-size: 1.2em;
    cursor: pointer;
}
.msgbox{
    position: fixed;
    z-index: 30;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    box-shadow: 0 0 34px white;
}
@media(min-width:768px){

}
@media(min-width:540px){
    .panel{
        min-width: 540px;
    }
}
@media(min-width:760px){
    .banner{
        margin-bottom: 10px;
    }
    .bText{
        font-size: 1.4em ;
    }
    .panel{
        width: 360px;
        min-width: inherit;
    }
    .bannerTextContainer{
        width: 100%;
    }
    .col.text-center.mx-auto{
        margin-top: 40px;
    }
}
@media(min-width:1000px){
    .bText{
        font-size: 1.5em ;
    }
    .col.text-center.mx-auto .container{
        padding-left: 60px;
    }
    .panel{
        width: 500px;
    }
}
@media(min-width:1300px){
    .bText{
        font-size: 2.5em ;
    }
    .col.text-center.mx-auto .container{
        padding-left: 23%;
    }
    .panel{
        width: 500px;
    }
}
@media(min-width:1830px){
    .banner{
        height: 740px;
    }
    .col.text-center.mx-auto .container{
        padding-left: 27%;
    }
}

/*team registration*/
.attention{
    background-color: #c6007e;
    color: white;
    min-height: 170px;
    height: 25%;
    width: 100%;
}
.attention .text{
    text-align: justify;
    margin: 10px;
    width: 67%;
    display: inline-block;
    float: left;
}
.attention .sign{
    display: inline-block;
    height: 100%;
    float: right;
}
.attention .sign img{
    height: 80px;
    width: 80px;
    margin-top: 50%;
}
.teamreg{
    background-color: #cfcfcf;
}
.teamreg .container{
    max-width: inherit;
}
.teamreg h1{
    font-family: "Gotham-Medium";
    font-size: 1.5em;
}
.teamreg h2{
    font-size: 1.2em;
    color: #4e4e4e;
}
.teamreg-header{
    width: 90%;
    margin: 30px auto;
}
.teamreg-form{
    margin-top: 30px;
    width: 100%;
}
.teamreg .form-group-reg input{
    margin: 5px 0;
}
.form-group-reg{
    width: 90%;
    margin: 10px auto;
}
.form--reg p{
    margin-bottom: 0;
}
.form-control-lrg{
    width:100%;
}
select.form-control-lrg{
    color: rgba(0,0,0,0.6);
}
.form-control-sml{
    width:100%;
}
.member{
    width: 90%;
    margin: 20px auto 30px auto;
}
.member a:hover{
    color: #c6007e;
    text-decoration: none;
}
.member a{
    text-decoration: none;
    color: #4e4e4e;
    font-size: 1.5em;
}
.member a svg{
    height: 40px;
    width: 40px;
    margin-bottom: -11px;
}
.member:hover a svg{
    stroke: #c6007e;
}
.teamreg-form .form-group-reg .check{
    width: 100%;
    color: #4e4e4e;
}
.lg{
    width: 100%;
    margin-bottom: 0 !important;
}
.form-group-reg.lg{
    width: 100%;
    margin-bottom: -20px !important;
}
.regbutton{
    background-color: #c6007e;
    font-size: 1.3em !important;
    color: white;
    width: 100%;
    border-radius: 0 !important;
}
.hidden{
    display: none !important;
}
.teamreg .check{
    width: 88%;
}
@media(min-width:667px){
    .teamreg{
        margin-bottom: 35px;
    }
    .attention{
        width: 72%;
        height: 42%;
        min-height: 120px;
        margin-top: 15px;
    }
    .attention .sign img {
        margin-top: 30%;
    }
}
@media(min-width:768px){
    .teamreg{
        margin-bottom: 60px;
    }
    .attention{
        width: 57%;
        height: 10%;
        min-height: 117px;        
        margin-top: 30px;
        box-shadow: 0px 0px 10px #383838;
    }
    .attention .sign img {
        margin-top: 26%;
    }
    .teamreg .attention .text {
        width: 74%;
        margin: 10px 15px;
    }
    .form-control-lrg{
        width: 32%;
        margin-left: 6px !important;
    }
    .form-control-sml{
        width: 32%;
        margin-left: 6px !important;
    }
    .member{
        display: inline;
        margin: 20px auto 30px 5%;
    }
    .teamreg .check{
        width: 88%;
    }
    .teamreg .text{
        margin: 1rem 0;
    }
    .check-container{
        margin-top: 20px;
    }
}
@media(min-width:1024px){
    .attention{
        width: 48%;
        height: 9%;
        min-height: 117px;
        max-width: 525px;
    }
    .attention .sign img {
        margin-top: 21%;
    }
    .teamreg{
        padding-bottom: 40px;
    }
    .teamreg-header{
        width: 90%;
        max-width: 1360px;
    }
    .teamreg-form{
        max-width: 1360px;
        width: 90%;
        margin: auto;
    }
    .form-group-reg{
        width: 100%;
    }
    .form-control-lrg{
        width:17%;
        height: 40px;
        margin: 0 4px !important;
    }
    .form-control-sml{
        width:11.9%;
        margin: 0 4px !important;
        height: 40px;
    }
    .teamreg .check{
        width: 98%;
    }
    .member{
        width: 100%;
        margin: 20px auto 30px 1%;
    }
    .regbutton{
        float: right;
        width: 31%;
        max-width: 300px;
        margin-right: 5px;
    }
}

/*upload*/
.errmsg{
    z-index: 2;
    display: block;
    position: absolute;
    min-height: 280px;
    background-color: #cfcfcf;
    color: #545454;
    width: 100%;
    text-align: center;
    outline: 5px dashed #545454;
    outline-offset: -25px;
    padding: 65px 40px;
    font-family: "Gotham-Bold";

}
.dropzone {
    background-color: #cfcfcf !important;
    border: 0 !important;
    outline: 5px dashed #545454;
    outline-offset: -25px;
    min-height: 280px !important;
}
.dropzone .dz-preview.dz-image-preview {
    background: none; 
}
img.upload_icon {
    display: block;
    margin: auto;
}
.dropzone .dz-message{
    margin: 3em 0 !important;
}
.dropzone .dz-preview{
    margin: 48px 107px !important;
}
.dz-message span{
    color: #545454;
    font-size: 1.2em;
}
@media(min-width:768px){
    .dropzone{
        min-height: 360px !important;
    }
    .errmsg{
        min-height: 360px;
        font-size: 1.5em;
        padding: 140px 40px;
    }
    .dropzone .dz-message{
        margin: 5em 0 !important;
    }
}
@media(min-width:1024px){
    .dropzone{
        min-height: 500px !important;
    }
    .errmsg{
        min-height: 500px;
        padding: 160px 65px;
    }
    .dropzone .dz-message{
        margin: 10em 0 !important;
    }
    .dz-message span{
        font-size: 1.5em;
    }
}
@media(min-width:1300px){
    .errmsg{
        padding: 195px 65px;
    }
}

.ui-icon.ui-icon-circle-triangle-e{
    transform: rotate(45deg);
    border-top: 2px solid black;
    border-right: 2px solid black;
}
.ui-icon.ui-icon-circle-triangle-w{
    transform: rotate(45deg);
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}
.dropdown{
    cursor: pointer;
}